*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.article_titre  {
    display: flex;
    justify-content: center;
    background-image:url("../../images/Parcdelatetedor01.jpg");
    background-size : cover;
    background-position: center;
    width: 100%;
    color: white;
    font-weight: bolder;
    text-shadow: 1px 1px 5px black;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    padding-top: 10px;
    letter-spacing: 5px;
}
.article_contenu {
    padding: 50px;
    text-align: center;
}
.article_notation{
    text-align: center;
    background-color: rgb(196,196,196);
    width: 80%;
    height: 150px;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:10px;
}
.article_notation img{
    margin-top: 20px;
    width:50px;   
    height:50px;
}
.div-bouton-up{
    display: flex;
    justify-content: flex-end;
}
.bouton-up{
    position: fixed;
    bottom: 0;
    width: 4em;
    height: 4em;
    border-radius: 50% 50% 50% 50%;
    background-color: #245DA7;
    margin: 5px;
}
#bouton{
    width: 100%;
}

