*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    padding-top: 10px;
    letter-spacing: 5px;
}
h2 { 
    text-align: center;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10%;
    text-shadow: 1px 1px 5px black;
    color: white;
    height: 250px;
}
h2 a {
    text-decoration: none;
    color: white;
}
article {
    width: 80%;
    height: 40%;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    margin: 1em;
    text-align: center;
    box-shadow: 0px 0px 15px grey;
    
}  
.sectionArticles {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    overflow: scroll;
}
/* HERE GOES THE IMAGE IN BG */
/* IMG for CULTURE */
.fourviere {
    background-image: url("/images/fourviere.jpg");
}
.mac {
    background-image: url("/images/mac.jpeg");
}
.mba {
    background-image: url("/images/mba.jpeg");
}
.confluence {
    background-image: url("/images/confluence.jpg");
}
/* STOP */
/* IMG for SPORTS */
.parcTeteDor {
    background-image: url("/images/parcDeLaTeteDor01.jpg");
}
.parcParilly {
    background-image: url("/images/parcParilly.jpg");
}
.climbUp {
    background-image: url("/images/climber01.jpg");
}
/* STOP */
/* IMG for Restaurant */
.leBoeufDargent {
    background-image: url("/images/le-boeuf-d-argent.jpg");
}
.mamamia {
    background-image: url("/images/MamaMia.jpg");
}
.warung {
    background-image: url("/images/warung.jpg");
}
.bistrotOrcia{
    background-image: url("/images/bistrotOrcia.jpg");
}
/* STOP */
/* IMG for bars */
.hardRockCafe{
    background-image: url("/images/hardRockCafe.jpg");
}
.leFlorian{
    background-image: url("/images/leFlorian.jpg");
}
.theMonkeyClub{
    background-image: url("/images/theMonkeyClub.jpg");
}
.diplomatico{
    background-image: url("/images/diplomatico.jpg");
}
/* STOP */
.positioningImage {
    background-position: 50% 8%;
    background-size: 80%, 80%, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
.positioningImage a {
    text-decoration: none;
}
/* END OF IMG */
.tagetdate {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 60vw;
    height: auto;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50px;
}
.tag a {
    text-decoration: none;;
}
.tagetdate p {
    width: 100px;
}
.description {
    font-style: italic;
    margin:1em;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 0px 0px 5px black;
}
.div-bouton-up{
    display: flex;
    justify-content: flex-end;
}
.bouton-up{
    position: fixed;
    bottom: 0;
    width: 4em;
    height: 4em;
    border-radius: 50% 50% 50% 50%;
    background-color: #245DA7;
    margin: 5px;
}
.article_notation img{
    width:50px;   
    height:50px;
    margin-top: 20px;
}
#bouton{
    width: 100%;
}
@media screen and (min-width:1230px){
    article {
        display: block;
        overflow: scroll;
        border-radius: 10px;
        background-color: white;
        margin: 1em;
        text-align: center;
        box-shadow: 0px 0px 15px grey;
        width: 40%;
        height: 30%;
    }
    .sectionArticles {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-flow: row wrap;
        height: 1600px;
    }
    .description {
        padding-top: 35%;
        color: black;
        text-shadow: 0px 0px 5px white;
    }
}
