*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    padding-top: 10px;
    letter-spacing: 5px;
}
h2 { 
    text-align: center;
    font-size: 2.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10%;
    text-shadow: 1px 1px 5px black;
    color: white;
    height: 250px;
}
h2 a {
    text-decoration: none;
    color: white;
}
/* ------- Position of the articles in the pageS ----------*/
article {
    width: 80%;
    height: 40%;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    margin: 1em;
    text-align: center;
    box-shadow: 0px 0px 15px grey;
}  
.positioning {
    padding-top: 200px;
}
.sectionArticles {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}
/* ------------ HERE GOES THE IMAGE IN BG --------------- */
/* ---------------- IMG for CULTURE --------------------- */
.fourviere {
    background-image: url("/images/fourviere.jpg");
}
.mac {
    background-image: url("/images/mac.jpeg");
}
.mba {
    background-image: url("/images/mba.jpeg");
}
.confluence {
    background-image: url("/images/confluence.jpg");
}
/* ---------------- STOP ---------------- */
/* ---------------- IMG for SPORTS ----------------*/
.parcTeteDor {
    background-image: url("/images/parcDeLaTeteDor01.jpg");
}
.parcParilly {
    background-image: url("/images/parcParilly.jpg");
}
.climbUp {
    background-image: url("/images/climber01.jpg");
}
/* ---------------- STOP ---------------- */
/* ---------------- IMG for Restaurant ---------------- */
.leBoeufDargent {
    background-image: url("/images/le-boeuf-d-argent.jpg");
}
.mamamia {
    background-image: url("/images/MamaMia.jpg");
}
.warung {
    background-image: url("/images/warung.jpg");
}
.bistrotOrcia{
    background-image: url("/images/bistrotOrcia.jpg");
}
/* ---------------- STOP ---------------- */
/* ---------------- IMG for bars ---------------- */
.hardRockCafe{
    background-image: url("/images/hardRockCafe.jpg");
}
.leFlorian{
    background-image: url("/images/leFlorian.jpg");
}
.theMonkeyClub{
    background-image: url("/images/theMonkeyClub.jpg");
}
.diplomatico{
    background-image: url("/images/diplomatico.jpg");
}
/*----------------  STOP ---------------- */
.positioningImage {
    background-position: center top 50px;
    background-size: 500px, 350px, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
.positioningImage a {
    text-decoration: none;
}
/* ---------------- END OF IMG ---------------- */
/* ---------------- CSS for the # and Date ---------------- */
.tagetdate {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    width: 60vw;
    height: auto;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50px;
}
.tag a {
    text-decoration: none;;
}
.tagetdate p {
    width: 100px;
}
.description {
    font-style: italic;
    margin:1em;
    margin-top: 250px;
    font-family: 'Poppins', sans-serif;
    color: grey;
    text-shadow: 0px 0px 1px black;
}
/* ---------------- Div notation ---------------- */
.article_notation img{
    width:50px;   
    height:50px;
    margin-top: 20px;
}
/* ---------------- CSS for the button UP to Top ---------------- */
.div-bouton-up{
    display: flex;
    justify-content: flex-end;
}
.bouton-up{
    position: fixed;
    bottom: 0;
    width: 4em;
    height: 4em;
    border-radius: 50% 50% 50% 50%;
    background-color: #245DA7;
    margin: 5px;
}
.article_notation img{
    width:50px;   
    height:50px;
    margin-top: 20px;
}
.ajoutStarNotation {
    font-size: 1.5em;
    color: rgb(196,196,196);
}
#bouton{
    width: 100%;
}
/* ---------------- Media Querries ---------------- */
@media screen and (min-width:1230px){
    article {
        display: block;
        overflow: scroll;
        border-radius: 10px;
        background-color: white;
        margin: 4em;
        margin-top: 4em;
        text-align: center;
        box-shadow: 0px 0px 15px grey;
        width: 35vw;
        height: 45vw;
    }
    .sectionArticles {
        display: flex;
        justify-content: center; 
        align-items: baseline;
        flex-flow: row wrap;
    }
    .description {
        color: black;
        text-shadow: 0px 0px 5px white;
    }
}
/* ---------------- Webkit to show the scrollbar everytime ---------------- */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .4);
    box-shadow: 0 0 0px rgba(0, 0, 0, .5);
}

/* ---------------- End ---------------- */