*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    background-color:#245DA7;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 30px;
    font-weight: bolder;
}
.logo a {
    color: white;
    text-decoration: none;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    color: white;
    width: 50%;
}
.nav-links li{
    list-style: none;
}
.nav-links a {
    color:white;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 15px;
}
.bann {
    background-color: white;
    color: black;
    text-align: center;
    justify-content: center;
    display: block;
    width: 100%;
    height: 40px auto;
    padding: 5px;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div{
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden; 
    }
    .nav-links{
        position: absolute;
        /* right: 0px; */
        left: 0px;
        top: 75px;
        height: 400px;
        background-color: #245DA7;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 15px;
        width: 35%;
        font-weight: 900;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 100;
        color: white;
    }
    .nav-links a{
        color: white;
    }
    .burger {
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}