*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
    font-size: 4em;
    font-weight: normal;
    padding-top: 10px;
    letter-spacing: 5px;
}
.container {
    width: 100%;
}
.lastArticle {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-flow: row wrap;
    height: 1600px;
}
article {
    display: block;
    overflow: scroll;
    border-radius: 10px;
    background-color: white;
    margin: 1em;
    text-align: center;
    box-shadow: 0px 0px 15px grey;
    width: 40%;
    height: 30%;
}
.bocuse {
    background-image: url("/images/restaurant.jpg");
    background-position: 50% 8%;
    background-size: 500px, 350px, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
.parcTeteDor {
    background-image: url("/images/Parcdelatetedor01.jpg");
    background-position: 50% 10%;
    background-size: 500px, 350px, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
.museum {
    background-image: url("/images/culturePlace.jpg");
    background-position: 50% 10%;
    background-size: 500px, 350px, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
.bar {
    background-image: url("/images/bar.jpg");
    background-position: 50% 10%;
    background-size: 500px, 350px, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
.placeBellecour {
    background-image: url("/images/lyonBellecour.jpg");
    background-position: 50% 10%;
    background-size: 500px, 350px, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
.fourviere {
    background-image: url("/images/hoteldieu.jpg");
    background-position: 50% 10%;
    background-size: 500px, 350px, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
h2{
    text-align: center;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    padding-top: 10%;
    text-decoration-line: underline white;
    text-shadow: 4px 4px white;
}
.imageArticle {
    width:70%;
}
.description {
    font-style: italic;
    margin: 1em;
    padding-top: 37%;
}

@media screen and (max-width:1230px){
    article {
        width: 80%;
        height: 40%;
    }
    .lastArticle {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 1800px;
        width: 100%;
        overflow: scroll;
    }
}
.div-bouton-up{
    display: flex;
    justify-content: flex-end;
}
.bouton-up{
    position: fixed;
    bottom: 0;
    width: 4em;
    height: 4em;
    border-radius: 50% 50% 50% 50%;
    background-color: #245DA7;
    margin: 5px;
}
#bouton{
    width: 100%;
}