*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    padding-top: 10px;
    letter-spacing: 5px;
}
article {
    width: 80%;
    height: 40%;
    display: block;
    overflow: scroll;
    border-radius: 10px;
    background-color: white;
    margin: 1em;
    text-align: center;
    box-shadow: 0px 0px 15px grey;
}
h2{
    text-align: center;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 10%;
    text-shadow: 1px 1px 5px black;
    color: white;
}
h2 a {
    text-decoration: none;
    color: white;
}
.container {
    width: 100%;
}

.lastArticle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 1800px;
    width: 100%;
    overflow: scroll;
}
.positioningImage {
    background-position: 50% 8%;
    background-size: 500px, 350px, auto;
    background-repeat: no-repeat;
    background-attachment: local;
    align-items: center;
}
.bocuse {
    background-image: url("/images/le-boeuf-d-argent.jpg");
}
.parcTeteDor {
    background-image: url("/images/Parcdelatetedor01.jpg");
}
.museum {
    background-image: url("/images/culturePlace.jpg");
}
.bar {
    background-image: url("/images/bar.jpg");
}
.placeBellecour {
    background-image: url("/images/lyonBellecour.jpg");
}
.fourviere {
    background-image: url("/images/hoteldieu.jpg");
}

.imageArticle {
    width:70%;
}
.description {
    font-style: italic;
    margin: 1em;
    padding-top: 37%;
}
.div-bouton-up{
    display: flex;
    justify-content: flex-end;
}
.bouton-up{
    position: fixed;
    bottom: 0;
    width: 4em;
    height: 4em;
    border-radius: 50% 50% 50% 50%;
    background-color: #245DA7;
    margin: 5px;
}
#bouton{
    width: 100%;
}

@media screen and (min-width:1230px){
    article {
        display: block;
        overflow: scroll;
        border-radius: 10px;
        background-color: white;
        margin: 1em;
        text-align: center;
        box-shadow: 0px 0px 15px grey;
        width: 40%;
        height: 30%;
    }
    .lastArticle {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-flow: row wrap;
        height: 1600px;
    }
   
}

