*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.mainTitle {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
}
.lastArticle {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 1600px;
}
article {
    display: block;
    border-radius: 10px;
    background-color: white;
    margin: 1em;
    text-align: center;
    box-shadow: 0px 0px 15px grey;
    overflow: scroll;
    width: 80%;
}







.title{
    text-align: center;
    font-size: 130%;
    font-weight: bold;
}
.imageArticle {
    width:70%;
}
.description {
    font-style: italic;
    margin: 1em;
}
@media screen and (max-width:768px){
    article {
        width: 35%;
        height: 20%;
    }
    .lastArticle {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 1800px;
        width: 100%;
        overflow: scroll;
    }
}