*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.image_article  {
    display: inline-block;
    position: relative;
}
.image_article  .text_image_article {
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    color: white;
    width: 70%;
}