h1 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    padding-top: 10px;
    letter-spacing: 5px;
}
body {
    font-family: 'Poppins', sans-serif;
}
form {
    width: 80%;
    height: 60%;
    display: Flex;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    margin: 1em;
    text-align: center;
    box-shadow: 0px 0px 15px grey;
    display: table;
    padding: 10px;
    margin: 0 auto;
}
div.formsuggest {
    display: table-row;
    margin: 10px;
}
label, input {
    display: table-cell;
    margin-bottom: 10px;
}
input, textarea {
 
    /* Pour s'assurer que tous les champs texte ont la même police.
      Par défaut, les textarea ont une police monospace */
   font: 1em sans-serif;
   /* Pour que tous les champs texte aient la même dimension */
   width: 300px;
   box-sizing: border-box;
 
   /* Pour harmoniser le look & feel des bordures des champs texte */
   border: 1px solid #999;
}
textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;
  
    /* Pour donner assez de place pour écrire du texte */
    height: 1em;
}
button a {
    text-decoration:none;
}
label {
    padding-right: 10px;
    text-align: right;
    display: inline-block;
    width: 300px;
}
.lastArticle {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: baseline;
    height: 100%;
    width: 100%;
    margin-top: 4em;
}
.container {
    width: 100%;
}
@media screen and (min-width:1230px){
    .lastArticle {
        display: flex;
        justify-content: center; 
        align-items: baseline;
        flex-flow: row wrap;
        height: 1500px;
    }
}